.job-filter_container {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1110px;
  transform: translate(-50%, 50%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 4rem;
  background-color: #fff;
  box-shadow: 0px 6px 12px 0px hsla(180, 8%, 52%, 0.2);

  .tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .job-filter-tag_wrapper {
      display: flex;
      align-items: center;
      padding-left: 1rem;
      border-radius: 5px;
      gap: 1rem;
      font-size: 1.6rem;
      font-weight: 600;
      color: $cyan;
      background-color: $filterTabletsColor;

      img {
        border: none;
        border-radius: 0 5px 5px 0;
        padding: 7px;
        height: 3rem;
        width: 3rem;
        background-color: $cyan;

        &:hover,
        &:active {
          cursor: pointer;
          background-color: #000;
        }
      }
    }
  }

  .clear-filter {
    border: none;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    margin-left: auto;
    font-size: 1.6rem;
    font-weight: 600;
    color: $DarkGrayishCyan;
    background-color: #fff;

    &:hover,
    &:active {
      color: $cyan;
      border-bottom: 1px solid $cyan;
    }
  }
}

@media screen and (max-width: 1166px) {
  .job-filter_container {
    width: 94%;
  }
}
