.job-card_container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.6rem;

  .job-posting_wrapper {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0px 6px 12px 0px hsla(180, 8%, 52%, 0.2);
  }
}
