.job-tags_wrapper {
  display: flex;
  margin-left: auto;
  gap: 1rem;

  .filter-tag {
    padding: 10px 6px;
    border-radius: 5px;
    font-weight: 600;
    background-color: $filterTabletsColor;
    color: $cyan;

    &:hover {
      cursor: pointer;
      background-color: $cyan;
      color: #fff;
    }
  }
}
