.job-tags_wrapper {
  display: flex;
  margin-left: auto;
  gap: 1rem;
  padding-right: 3rem;

  .filter-tag {
    padding: 10px 6px;
    border-radius: 5px;
    font-weight: 600;
    background-color: $filterTabletsColor;
    color: $cyan;

    &:hover {
      cursor: pointer;
      background-color: $cyan;
      color: #fff;
      transition: 0.3s;
    }
  }
}

@media screen and (max-width: 900px) {
  .job-tags_wrapper {
    flex-wrap: wrap;
    margin: 0;
    padding-top: 2rem;
    gap: 1rem;
    border-top: 2px solid hsla(180, 8%, 52%, 0.4);
  }
}
