.banner {
  margin-bottom: 7.2rem;
  height: 156px;
  width: 100%;
  background-image: url("../assets/images/bg-header-desktop.svg");
  background-color: $cyan;
  background-size: cover;
  background-repeat: no-repeat;
}
